.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 15px;
  color: $color-navbar-fonts;
  font-size: $font-size-body;
  font-weight: $font-bold;
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;
  background: $color-navbar-primary;
}

.header-nav-container {
  display: flex;
}

.header-nav-container .nav-menu {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header-nav-container li:hover {
  background: $color-navbar-hover;
}

.search-input {
  margin: 10px
}

.logo-icon {
  display: block;
  width: 60px;
  height: 60px;
  background: url('../../icons/instagram-square-brands.svg') no-repeat;
}

.profile-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/user-circle-regular.svg') no-repeat;
}

.sign-out-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/sign-out-alt-solid.svg') no-repeat;
}

.create-post-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/plus-square-regular.svg') no-repeat;
}

.home-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/home-solid.svg') no-repeat;
}

.explore-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/globe-americas-solid.svg') no-repeat;
}

.sign-up-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/user-plus-solid.svg') no-repeat;
}

.sign-in-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/login.svg') no-repeat;
}

.search-container {
  position: relative;
}

.search-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 25px;
  align-items: center;
}

.search {
  position: relative;
  width: 70px;
  height: 60px;
  overflow: hidden;
  background-color: $color-search-background;
  transition: $transition;
  &:before {
    content: '';
    position: relative;
    display: block;
    width: 3px;
    height: 100%;
    background-color: $color-icon;
    transition: $transition;
  }
  &.open {
    width: 360px;
    &:before {
      position: absolute;
      height: 45px;
      margin: 10px 0 10px 20px;
    }
  }
}

.show-search {
  display: flex;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 24px;
  &:focus {
    outline: none;
  }
}

.search-button {
  position: absolute;
  right: 10px;
  top: 2px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search-icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 40px;
  border: 3px solid $color-icon;
  transition: $transition;
  &:before {
    content: '';
    position: absolute;
    right: -2px;
    top: 30px;
    display: block;
    width: 3px;
    height: 15px;
    background-color: $color-icon;
    transform: rotate(-45deg);
    transition: $transition;
  }
  &:after {
    content: '';
    position: absolute;
    right: -8px;
    top: 39px;
    display: block;
    width: 3px;
    height: 9px;
    background-color: $color-icon;
    transform: rotate(-45deg);
    transition: $transition;
  }
  .open & {
    width: 55px;
    height: 55px;
    margin: 0;
    border-radius: 60px;
    &:before {
      top: 21px;
      right: 20px;
      height: 18px;
      transform: rotate(52deg);
    }
    &:after {
      top: 11px;
      right: 20px;
      height: 18px;
      transform: rotate(-230deg);
    }
  }
}

.search-results-list {
  position: absolute;
  z-index: 11;
  width: 100%;
  background: $color-search-background;

  & li {
    padding: 10px;
  }

  & a {
    display: flex;
    align-items: center;
  }
}
 
.dropdown {
  position: relative;
  display: none;
  align-items: center;
  padding: 5px;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  top: 60px;
  width: 100%;
  background: $color-navbar-primary;
}

.dropdown-icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../../icons/bars-solid.svg') no-repeat;
}

@media (min-width: $media-screen-sixth) and (max-width: $media-screen-third) {
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .show-search {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .header-container {
    padding: 0;
  }

  .header-nav-container {
    justify-content: space-between;
  }

  .header-nav-container .nav-menu {
    display: none;
  }

  .dropdown {
    display: block;
    width: 100%;
    padding: 0;
  }

  .dropdown-icon {
    margin: 5px auto;
  }
  
  .search.open {
    width: 100%;
  }

  .dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & li {
      margin-left: 10px;
    }

    & li a {
      display: flex;
      align-items: center;
    }

    & li a span {
      margin-right: 10px;
    }
  }

  // .search-button {
  //   width: 60px;
  //   height: 60px;
  //   display: block;
  //   position: absolute;
  //   right: -15px;
  //   top: -15px;
  //   padding: 0px;
  //   cursor: pointer;
  // }
}