.login-wrap {
	position: relative;
	width: 100%;
	max-width: 470px;
	min-height: 790px;
	margin: 0 auto 10px;
}

.login-html {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 40px 50px;
	background: $color-navbar-primary;
	border-radius: 12px;
}

.login-html .tab {
  border-bottom: 1px solid $color-search-background;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform: uppercase;
}

.login-html .tab {
	display: inline-block;
	margin: 0 15px 10px 0;
	padding-bottom: 5px;
	font-size: $font-size-heading;
	font-weight: $font-bold;
}

.login-form {
	position: relative;
	min-height: 320px;
}

.login-form .group {
	margin-bottom: 15px;
}

.login-form .group .button {
	display: block;
	width: 100%;
	color: $color-navbar-fonts;
	cursor: pointer;
}

.login-form .group .label,
.login-form .group .input {
	width: 100%;
	outline: none;
}

.login-form .group .input,
.login-form .group .button {
	padding: 15px 20px;
	outline: none;
	background: $color-background-primary;
	border: none;
	border-radius: 25px;
}

.login-form .group .button:hover {
	background: $color-sign-buttons-hover;
}

.login-form .group .label {
	color: $color-search-background;
	font-size: 12px;
}

.login-form .group .button {
	background: $color-search-background;
}