.modal-main-edit {
  position:fixed;
  top:50%;
  left:50%;
  overflow-y: auto;
  justify-content: space-between;
  max-width: 550px;
  max-height: calc(100vh - 120px);
  background: white;
  border-radius: 12px;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.edit-info-wrap {
  position: relative;
	width: 100%;
	margin: 0 auto 10px;
	min-height: 820px;
	margin: 0 auto 10px;
}

.edit-info-html {
	padding: 40px 50px;
	background: $color-navbar-primary;
	border-radius: 12px;
}

.edit-info-html .tab {
  border-bottom: 1px solid $color-search-background;
}

.edit-info-html .tab,
.edit-profile-form .group .label,
.edit-profile-form .group .button{
	text-transform: uppercase;
}

.edit-info-html .tab {
	display: inline-block;
	margin: 0 15px 10px 0;
	padding-bottom: 5px;
	font-size: $font-size-heading;
	font-weight: $font-bold;
}

.edit-profile-form {
	position: relative;
	min-height: 320px;
}

.edit-profile-form .group {
	margin-bottom: 15px;
}

.edit-profile-form .group .button {
	display: block;
	width: 100%;
	color: $color-navbar-fonts;
	cursor: pointer;
}

.edit-profile-form .group .label,
.edit-profile-form .group .input {
	width: 100%;
	outline: none;
}

.edit-profile-form .group .input,
.edit-profile-form .group .button {
	padding: 15px 20px;
	outline: none;
	background: $color-background-primary;
	border: none;
	border-radius: 25px;
}

.edit-profile-form .group .button:hover {
	background: $color-sign-buttons-hover;
}

.edit-profile-form .group .label {
	color: $color-search-background;
	font-size: 12px;
}

.edit-profile-form .group .button {
	background: $color-search-background;
}

.image-holder-edit {
	text-align: center;

	& img {
		width: 200px;
		height: 200px;
		margin: 5px auto;
	}
}

@media only screen and (min-device-width: $media-screen-sixth) and (max-device-width: $media-screen-fifth) {
  .modal-main-edit {
		position: relative;
		top: 0;
		left: 0;
		overflow-y: initial;
		overflow-x: hidden;
		transform: translate(0, 0);
    max-height: 100vh;
    max-width: 320px;
	}

	.image-holder-edit img {
		width: 150px;
		height: 150px;
  }
}