.modal-main-followers {
  position:fixed;
  top:50%;
  left:50%;
  overflow-y: auto;
  width: 40%;
  max-height: calc(100vh - 210px);
  background: white;
  transform: translate(-50%,-50%);
}

.modal-avatar {
  width: 80px;
  height: 80px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}