.modal-main {
  position:fixed;
  top:50%;
  left:50%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 15px;
  background: $color-background-primary;
  border-radius: 12px;
  transform: translate(-50%,-50%);
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 15px;
}

.title-date {
  padding: 0 20px 0 10px;
  opacity: 0.7;
}

.post-img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 10px;
}

.comments-section-container {
  width: 60%;
  padding: 15px;
}

.like-comment-buttons-container {
  display: flex;
  align-items: center;
}

.all-comments {
  max-height: calc(80vh - 210px);
  overflow-y: auto;
}

.img-title {
  margin-top: 10px;
}

.img-description {
  margin-top: 10px;
}

.count-number {
  margin-left: 10px;
  font-size: $font-size-heading;
}

.comments-icon {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 20px;
  background: url('../../icons/comments-regular.svg') no-repeat;
}

.add-comment-icon {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../../icons/comment-add-solid.svg') no-repeat;
}

.delete-comment-icon {
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('../../icons/trash-alt-solid.svg') no-repeat;
}

.delete-post-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  background: url('../../icons/trash-alt-solid.svg') no-repeat;
}

.delete-post {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-comment-icon {
  position: absolute;
  top: 0;
  right: 45px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url('../../icons/edit-solid.svg') no-repeat;
}

.comment-form button {
  cursor: pointer;
  background: none;
}

.comment-form input[type="textarea"] {
  width: 80%;
  margin: 15px 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: $color-background-primary;

  &:focus {
    outline: none;;
  }
}

.comment-date {
  margin-left: 10px;
  opacity: 0.7;
}

.comment-description {
  margin-top: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.comment-section-image-container {
  position: relative;
  display: flex;
}

.comment-section-image img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 12px;
}

.single-comment {
  position: relative;
  display: flex;
  margin: 20px 0;
  padding: 0 75px 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.single-comment-img-container {
  margin-right: 10px;
  cursor: pointer;
}

.single-comment-img-container img {
    width: 65px;
    height: 65px;
    border-radius: 12px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
}

.close-modal-icon {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: url('../../icons/window-close-solid.svg') no-repeat;
}