.user-data-container {
  display: flex;
  width: 50%;
  margin: 15px auto;
  line-height: 1.8;
}

.avatar {
  margin-right: 15px;
}

.avatar img {
  width: 150px;
  height: 150px;
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
}

.user-info-name {
  font-weight: $font-bold;
}

.user-info-follows {
  display: flex;
  align-items: center;
}

.posts-length {
  margin: 0 10px 0 5px;
}

.posts-number {
  font-weight: $font-bold;
}

.posts-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../../icons/images-solid.svg') no-repeat;
}

.edit-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../icons/user-edit-solid.svg') no-repeat;
}

.follow-user-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../icons/user-plus-solid.svg') no-repeat;
}

.unfollow-user-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../icons/user-minus-solid.svg') no-repeat;
}

.user-info-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: $font-size-buttons;
  font-weight: $font-bold;
  text-shadow: 0.02em 0 white, 0 0.02em white, -0.02em 0 white, 0 -0.02em white;
  cursor: pointer;
  background: $color-navbar-primary;
  border-radius: 25px;
}

.user-info-buttons button:hover {
  background: $color-navbar-hover;
}

.followers-link {
  margin-right: 10px;
  cursor: pointer;
}

.following-link {
  cursor: pointer;
}

@media (min-width: $media-screen-sixth) and (max-width: $media-screen-third) {
  .user-data-container {
    flex-wrap: wrap;
    width: 80%;
  }

  .avatar {
    margin: 10px auto;
  }

  .followers-link {
    display: flex;
  }
  
  .following-link {
    display: flex;
  }
}