$color-navbar-primary: #98D1FA;
$color-navbar-hover: #659CEF;
$color-navbar-fonts: #FFF;
$color-sign-buttons-hover: #0e1a1b;
$color-background-primary: #F2FEFE;
$font-semi-bold: 400;
$font-bold: 700;
$font-size-heading: 24px;
$font-size-buttons: 20px;
$font-size-body: 18px;
$color-search-background: #242628;
$color-icon: #98D1FA;
$transition: all .5s ease;
$media-screen-sixth: 320px;
$media-screen-fifth: 400px;
$media-screen-fourth: 600px;
$media-screen-third: 800px;
$media-screen-second: 1000px;
$media-screen-first: 1300px;